global
    log /dev/log local0
    log /dev/log local1 notice
    maxconn 4096
    user haproxy
    group haproxy

defaults
    log global
    mode tcp
    option tcplog
    option dontlognull
    timeout connect 5000ms
    timeout client 600000ms
    timeout server 600000ms

# Proxy TCP que escucha en el puerto 16379
frontend tor_proxy
    bind *:16379
    mode tcp
    default_backend tor_servers

# Distribuye las conexiones entre las 5 instancias de Tor
backend tor_servers
    mode tcp
    balance roundrobin
    server tor1 127.0.0.1:9052 check inter 5000 rise 2 fall 3
    server tor2 127.0.0.1:9054 check inter 5000 rise 2 fall 3
    server tor3 127.0.0.1:9056 check inter 5000 rise 2 fall 3
    server tor4 127.0.0.1:9058 check inter 5000 rise 2 fall 3
    server tor5 127.0.0.1:9060 check inter 5000 rise 2 fall 3
    server tor6 127.0.0.1:9062 check inter 5000 rise 2 fall 3
    server tor7 127.0.0.1:9064 check inter 5000 rise 2 fall 3
    server tor8 127.0.0.1:9066 check inter 5000 rise 2 fall 3
    server tor9 127.0.0.1:9068 check inter 5000 rise 2 fall 3
    server tor10 127.0.0.1:9070 check inter 5000 rise 2 fall 3
